.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header a {
}

.App-content {
  min-height: 80vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nav {
  height: 60px;
  border-top: #060 2px solid;
  border-bottom: #060 2px solid;
  background-color: #690;
}

#nav ul {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0;
}

#nav li {
  display: inline;
  float: left;
}

#nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

#nav a:hover {
  background-color: #060;
}
